.SIDEBAR{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 74px;
    background-color: white;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(230, 230, 230);
}
.sidebar-link{
    background-color: white;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sidebar-link:hover{
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}
.sidebar-link img{
    height: 27px;

}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 11px;
    margin-top: 4px;
}